:root{
    --icon-primary: rgb(34, 161, 211); 
    --black: black;
    --secondary-color: blue;
    --grey:grey;
    --primary-color: #013c76;
    --green: green;
    --icon-secondary: rgb(0, 180, 189);
}

