<div class="card mb-4">
    <div class="card-title mb-0 pt-1 border-bottom">
      <app-horizontal-stepper  ></app-horizontal-stepper>
  </div>
    <div class="card-body">
      <section class="my-3">
        <div class="row">
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Place of Receipt</label>
            </p>
        <p class="content-medium">--</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Pre-carraige By</label>
            </p>
            <p class=" content-medium">{{resData.data.preCarriageBy}}</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Port of Loading</label>
            </p>
          <p class="content-medium">{{resData.data.portOfLoading}}</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Ocean Vessel</label>
            </p>
            <p class="content-medium">{{resData.data.oceanVessel}}</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Voyage No.</label>
            </p>
            <p class="content-medium">{{resData.data.voyageNumber}}</p>
          </div>
        </div>
      </section>
      <section class="my-3">
        <div class="row">
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Port of Transshipment</label>
            </p>
            <p class="content-medium">{{resData.data.portOfTransshipment}}</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Port of Discharge</label>
            </p>
            <p class="content-medium">{{resData.data.portOfDischarge}}</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Place of Delivery</label>
            </p>
            <p class="content-medium">--</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Movement</label>
            </p>
            <p class="content-medium">{{resData.data.movement}}</p>
          </div>
          <div class="col-2 mx-3 p-1">
            <p class="m-0">
              <label class="list-label">Freight Payable at</label>
            </p>
            <p class="content-medium">{{resData.data.freightPayableAt}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>