<div class="card mb-4">
  <div class="card-title mb-0 pt-1 border-bottom">
    <app-horizontal-stepper></app-horizontal-stepper>
  </div>
  <div class="card-body">
    <section class="my-3">
      <div class="row">
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Place of Receipt</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.placeOfReceipt ? partiesMasterData?.placeOfReceipt : '--'}}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Pre-carraige By</label>
          </p>
          <p class=" content-medium">{{ partiesMasterData?.preCarriageBy ? partiesMasterData?.preCarriageBy : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Port of Loading</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.portOfLoading ? partiesMasterData?.portOfLoading : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Ocean Vessel</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.oceanVessel ? partiesMasterData?.oceanVessel : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Voyage No.</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.voyageNumber ? partiesMasterData?.voyageNumber : '--'}}</p>
        </div>
      </div>
    </section>
    <section class="my-3">
      <div class="row">
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Port of Transshipment</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.portOfTransshipment ? partiesMasterData?.portOfTransshipment : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Port of Discharge</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.portOfDischarge ? partiesMasterData?.portOfDischarge : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Place of Delivery</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.placeOfDelivery ? partiesMasterData?.placeOfDelivery : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Movement</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.movement ? partiesMasterData?.movement : '--' }}</p>
        </div>
        <div class="col-2 mx-3 p-1">
          <p class="m-0">
            <label class="list-label">Freight Payable at</label>
          </p>
          <p class="content-medium">{{ partiesMasterData?.freightPayableAt ? partiesMasterData?.freightPayableAt : '--' }}</p>
        </div>
      </div>
    </section>
  </div>
</div>