@mixin btn-blue {
    border-radius: 25px;
    border: 1.5px solid blue;
    color: blue;
    background-color: transparent;  
    font-weight: 600; 
}
.complete-all-btn { 
    @include btn-blue();
    font-size: x-small;
}

table thead th {
    font-size: x-small;
}

table tbody tr input, select {
    width: 140px;
    font-size: small;
}

.exp-collapse {
    cursor: pointer;
}

.copy-link {
    font-size: small;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 180, 189);
    cursor: pointer;
}

.collapse-label {
    font-size: small;
}

@mixin collapse-input-select-size {
    width: 100px;
    height: 30px;
    font-size: small;
}

.collapse-input, .collapse-select {
    @include collapse-input-select-size();
}

.add-cargo-detail-btn {
    @include btn-blue();
    font-size: 13px;
}

textarea::placeholder {
    font-size: small;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

.fa-circle-info {
    color: rgb(34, 161, 211);
}

.fa-plus, .fa-clone {
    color: blue;
}
/////
.outline{
    padding:20px;
    border: 1px dotted black;
    margin-top: 6px;
}

.upload-doc {
    border: 1.5px dashed grey;
    border-radius: 5px;
}

.list-label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

@mixin content-style {
    color: black;
    font-weight: 600;
}

.content-medium {
    @include content-style;
    font-size: 14px;
    text-transform: uppercase;
}

.shipping-label{
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.shipping-data{
    text-transform: uppercase;
}

.collapseBtn {
    background-color: #f8f9fa !important;
}