.body-container {
    padding-top: 100px;
  }
  
  .bg-purple {
    background-color: #002b55;
  }
  
  .card-header {
    border-bottom: 2px solid gray;
  }
  
  .card-body {
    box-shadow: 10px;
    border-radius: 10px;
  }
  .w-764{
    width: 764px !important;
  }
  .h-40{
    height: 40px !important;
  }
  .w-20 {
    width: 20%;
  }
  .w-8 {
    width: 8%;
  }
  .w-16 {
    width: 16%;
  }
  
  .border-bottom {
    border-bottom: 2px solid gray;
  }
  
  .bg-light-blue {
    background-color: #00b8f1;
  }
  
  .bg-gray-gradient {
    background: transparent linear-gradient(139deg, #fcfcfc 0%, #e6e6e6 100%) 0%
      0% no-repeat padding-box;
  }
  
  .upload-card {
    width: 31%;
  }
  
  .w-30px {
    width: 30px;
  }
  .w-150px {
    width: 150px;
  }
  .w-200 {
    width: 200px;
  }
  img {
    width: 100%;
  }
  .f13 {
    font-size: 13px !important;
  }
  .f12 {
    font-size: 12px !important;
  }
  .small {
    font-size: 10px;
    align-self: center;
  }
  .gradient-black {
    background: transparent linear-gradient(139deg, #fcfcfc 0%, #e6e6e6 100%) 0%
      0% no-repeat padding-box;
    width: 270px;
  }
  .section-part {
    width: 195px;
    padding-bottom: 20px;
  }
  .addbtn {
    background: rgba(0, 184, 241, 0.1);
    text-align: center;
    padding: 8px;
    color: #002b55;
    font-size: 14px;
    cursor: pointer;
  }
  .input-text {
    font-size: 12px;
    color: #191919;
    font-family: Rubik-Medium;
    margin-bottom: 10px;
  }
  
  button.fillbtn {
    background: #014874;
    /* opacity: .2; */
    border: 0px;
    width: 100px;
    border-radius: 20px;
    font-size: 12px;
    height: 31px;
    color: #fff;
    opacity: 1;
  }
  button.fillbtn.submit {
    background: #06baf1 !important;
  }
  .box {
    margin-right: 11px;
  }
  .shipper ::ng-deep .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: #01b8f1;
  }
  
  .mandatory{
    flex-grow: 1;
    color: red;
    font-size: 12px;
  }
  .ccam_view {
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    height: 35px;
    font-family: Rubik !important;
    color: #333333;
  }
  .shipper ::ng-deep {
    outline: none !important;
  }
   
  .version-text {
    color: black;
    font-family: Rubik-Regular;
    font-size: 12px;
    opacity: 0.47;
    position: relative;
    top: 11px;
  }
  .font {
    word-wrap: break-word;
    width: 238px;
  }
  .telex {
    opacity: 1;
    font-family: Rubik-Medium;
    font-size: 10px;
    font-weight: 700;
  }
  
  .top-bar {
    margin-left: -30px;
  }
  
  .p-0 {
    padding: 0;
  }
  
  .delivery-agent {
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
  }
  
  span.tooltip-ico {
    background: #05baf1;
    padding: 0px 6.81px;
    font-size: 11.5px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }
  .tooltip-ico.info
  {
    padding: 1px 7px 2px 7px;
  }
  span.info-text {
    font-family: Rubik;
    font-size: 11px;
  }
  .down-csv {
    img { height: 25px; width: 25px; }
    &:hover .tiptool {
      transition: all 0.2s;
      transform: scale(1);
    }
    .tiptool {
      position: absolute;
      width: 100px;
      background: white;
      left: -35px;
      z-index: 9;
      font-size: 12px;
      text-align: center;
      border-radius: 3px;
      padding: 3px 0;
      color: #000;
      top: 35px;
      box-shadow: 0 0 10px #fbfbfb;
      transition: all 0.2s;
      transform: scale(0);
    }
    button {
      background: transparent;
      border: 1px solid transparent;
      padding: 0;
      &.disableBtn {
        opacity: 0.5;
      }
      &.enableBtn { 
        opacity: 1;
      }
    }
  }
  
  /* Chat Box and UI */
  .chat-box {
    .chat-button {
      position: fixed;
      height: 100px;
      width: 100px;
      bottom: 0;
      right: 0;
      z-index: 9;
      img {
        cursor: pointer;
      }
    }
  }
  /* Remark Toggle */
  .remark-Box {
      position: fixed;
      left: auto;
      top: 0;
      right: 0;
      bottom: 0;
      width: 25%;
      min-width: 250px;
      background-color: #fff;
      z-index: 99999;
      border-top-left-radius: 5px;
      border-top-right-radius: 0px;
  }
  .poOpn .overlayremark {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 100%;
      z-index: 9999;
  }
  .w-157{
    width:199px;
    margin-left:6px;
  }
  .f-14{
    font-size: 14px;
  }
  
  ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-focus{
    box-shadow: none !important;
    outline: none !important;
  }
  .chips-boder
  {
    border-radius: 3px;
    margin-right: 37px;
    border: 1px solid #a6a6a6;
    &:hover { 
    border-color: #212121;
    }
  }
  .clear-all
  {
    cursor: pointer;
    padding-right: 20px;
    font-size: 13px;
    font-family: Rubik-Regular;
    color: #06BAF1;
  
  }
  .capitalLetter {
    text-transform: uppercase;
  }
  
  .w-354{
    width: 354px;
  }
  
  img.alertImg
  {
      margin-right: 5px;
      margin-left: 3px;
      width: 12px !important;
  }
  span.alert
  {
      color: #EAAF10;
      padding: 0px;
      display: block;
      margin-bottom: 0px;
      font-size: 12px;
  }
  .disable p-checkbox
  {
  pointer-events: none !important;
  opacity: 0.5;
  }
  
  .email-txtarea{
    width: 582px;
    height: 94px;
    font-size: 13px;
    font-family:Rubik-Regular;
  }
  
  .email-txt{
    display: flex;
  }
  
  .email-head{
    font-size: 12px;
    font-family: Rubik-Regular;
    color: black;
    opacity: 0.47;
  }
  .footer-item{
    font-size: 12px !important;
    color: white;
    opacity: 0.65;
  }
  .privacy_policy{
    font-size: 12px !important;
    color: white;
    font-family: Rubik;
    opacity:0.79;
    text-decoration: underline;
  }
  .privacy_policy:hover{
    color: #0056b3 !important;
  }