.navbar {
    background-color: rgba(0, 0, 99, 0.973);
    color: white;
}

.nav-title {
    font-size: small;
    font-weight: 500;
    .nav-title:nth-child(1){
        font-weight: 500;
    }
}

.btn-rounded {
    width: max-content;
    border-radius: 20px;
    height: max-content;
    font-size: small;
    font-weight: 500;
}

.btn-dark {
    background-color: #013c76;
}