.navbar {    //navbar
    background-color: rgba(0, 0, 99, 0.973);
    color: white;
}

.nav-title {
    font-size: small;
    font-weight: 500;
    .nav-title:nth-child(1){
        font-weight: 500;
    }
}

.btn-rounded {
    width: max-content;
    border-radius: 20px;
    height: max-content;
    font-size: small;
    font-weight: 500;
}

.btn-dark {
    background-color: #013c76;
}

.c-stepper {      //horizontal-stepper
    display: flex;
    flex-wrap: nowrap;
}

.c-stepper__title{
    font-size: 14px;
    margin: 0;
}

.c-stepper__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.c-stepper__item:not(:last-child) {
    flex: 1;
}

.c-stepper__item:before {
    --size: 2rem;
    content: "";
    display: block;
    flex: 0 0 var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 3px solid #013c76;
}

.c-stepper__item:not(:last-child):after {
    content: "";
    flex: 1;
    height: 3px;
    background-color: #013c76;
    margin-inline-end: 0.5rem;
}

.wrapper{
    width: 50%;
}
.c-stepper__item:nth-child(1):before{
    border: 9px solid #013c76;
}

.c-stepper__item:nth-child(2):before{
    font-family: "Font Awesome 5 Free";
   content: "\f058";
   display: inline-block;
   font-weight: 900;
   font-size: 28px;
   border: none;
   height: 3.2rem;
   color: #013c76;
}

.c-stepper__item:last-child .c-stepper__title{
    width: 170px;
}

.radio-label {  //shipping detail
    font-weight: 500;
    color: black;
    font-size: 14px;
    padding-left:19px;
}

.form-check-input {
    cursor: pointer;
}

.fa-circle-info {
    color: rgb(34, 161, 211);
}

.fa-plus, .fa-clone {
    color: blue;
}
//1st UI
@mixin btn-blue {
    border-radius: 25px;
    border: 1.5px solid blue;
    color: blue;
    background-color: transparent;  
    font-weight: 600; 
}
.complete-all-btn { 
    @include btn-blue();
    font-size: x-small;
}


table thead th {
    font-size: x-small;
}

table tbody tr input, select {
    width: 140px;
    font-size: small;
}

.exp-collapse {
    cursor: pointer;
}

.copy-link {
    font-size: small;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 180, 189);
    cursor: pointer;
}

.collapse-label {
    font-size: small;
}

@mixin collapse-input-select-size {
    width: 100px;
    height: 30px;
    font-size: small;
}

.collapse-input, .collapse-select {
    @include collapse-input-select-size();
}

.add-cargo-detail-btn {
    @include btn-blue();
    font-size: 13px;
}

textarea::placeholder {
    font-size: small;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

.fa-circle-info {
    color: rgb(34, 161, 211);
}

.fa-plus, .fa-clone {
    color: blue;
}
/////
.outline{
    padding:20px;
    border: 1px dotted black;
    margin-top: 6px;
}

.upload-doc {
    border: 1.5px dashed grey;
    border-radius: 5px;
}

.list-label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

@mixin content-style {
    color: black;
    font-weight: 600;
}

.content-medium {
    @include content-style;
    font-size: 14px;
    text-transform: uppercase;
}


.collapseBtn {
    background-color: #f8f9fa !important;
}

.outline{ //uploading documents
    padding:20px;
    border: 1px dotted black;
    margin-top: 6px;
}

.upload-doc {
    border: 1.5px dashed grey;
    border-radius: 5px;
}
#new{
    height:69px;
}
#ht{
    height:112px;
}
#wt{
    padding-left:9px;
}

.navbar {
    background-color: #013c76;
    // color: white;
    height:40px;
    text-align: center;
    color: rgb(229, 222, 222);
    font-size: 10px;
}
