.radio-label {
    font-weight: 500;
    color: black;
    font-size: 14px;
}

.form-check-input {
    cursor: pointer;
}

.fa-circle-info {
    color: rgb(34, 161, 211);
}

.fa-plus, .fa-clone {
    color: blue;
}